[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
responder = "*"
boto3 = "*"
requests = "*"
maya = "*"
Faker = "*"
sendgrid = "*"
mutagen = "*"
stripe = "*"
authlib = "*"

[requires]
python_version = "3.7"
