[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
responder = "*"
boto3 = "*"
click = "*"
stripe = "*"
certifi = "*"
markdown = "*"
sendgrid = "*"
maya = "*"

[requires]
python_version = "3.8"
