<!DOCTYPE html>
<html>
<head>
	<title>{% block title%} PIT Transcriptor {% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello Bulma!</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js">
	</script>
</head>
<body>
<section class="hero is-info">
	<div class="hero-body">
		<div class="container">
			<h1 class="title is-1">
				PIT Transcriptor <em class="is-size-5">(Alpha)</em> 
			</h1>
		</div>
	</div>
</section>
{% block content %}
{% endblock %} 
<footer class="footer">
	<p>
		PIT Transcriptor is a <a href="https://productivityintech.com" class="link">Productivity in Tech Project</a> 
	</p>
	<p>
		Code is open-source and can be seen on <span class="icon"><i class="fab fa-github"></i></span> 
</footer>
</body>
</html>
