{% extends 'base.html' %}
{% block title%}
PIT Transcriptor
{% endblock %}
{% block content%}

<section class="section">
  <div class="box container">
    <p class="subtitle">
    <em>PIT Transcriptor</em> is a tool designed to create transcriptions of <em>dev-centric</em> audio content. 
    </p>
  </div>

  <div class="container">
      <div class="hero is-small">
        {% for message in get_flashed_messages() %}
          <div class="notification has-text-primary">
            <a href="#">{{message}}</a>
          </div>
        {% endfor %}
      </div>

 <h1 class="">
   Upload a file and get started! Only <strong class="has-text-grey-success"><strike>$0.08</strike>FREE (for Now)</strong> per minute (while in alpha!) 
 </h1>
    </div>
  </div>

  <section class="section">
    <div class="container">
      {% include 'upload_form.html' %}
    </div>
  </section>

  <section class="section">
    <div class="container">
    <div class="notification is-primary">
      THIS IS CURRENTLY IN ALPHA. Results and features may not be reliable. By uploading and using you are consenting to using your audio and video to improve
      the transcription algorithms.
    </div>
    </div>
  </section>
</section>
<script>
  var inputFile = document.querySelector('#inputFile');
var selectedFile = document.querySelector('#selectedFile');

function getFileName () {
  var filename = inputFile.value.split('\\').pop();
  selectedFile.innerText = filename;
  document.querySelector('#fileSubmit').removeAttribute('disabled')
}

var displayUpload = function () {
  var fileSubmission = document.querySelector('#fileSubmission');
  fileSubmission.className = "control";
}
</script>
{% endblock %}
