{% extends 'base.html' %}
{% block title%}
PIT Transcriptor
{% endblock %}
{% block content%}

<section class="section">
  <div class="box container">
    <p class="subtitle">
    <em>PIT Transcriptor</em> is a tool designed to create transcriptions of <em>dev-centric</em> audio content. 
    </p>
  </div>

  <div class="container">

 <h1 class="">
   Upload a file and get started! Only <strong class="has-text-grey-success">$0.08</strong> per minute (while in alpha!) 
 </h1>
    </div>
  </div>

  <section class="section">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="hero is-small">
            {% for message in messages %}
              <div class="notification has-text-primary">
                <a href="#">{{message}}</a>
              </div>
            {% endfor %}
          </div>
         {% endif %}
       {% endwith %}
    <div class="container">
      {% include 'upload_form.html' %}
    </div>
  </section>
</section>
<script>
  var inputFile = document.querySelector('#inputFile');
var selectedFile = document.querySelector('#selectedFile');

function getFileName () {
  var filename = inputFile.value.split('\\').pop();
  selectedFile.innerText = filename;
  document.querySelector('#fileSubmit').removeAttribute('disabled')
}

var displayUpload = function () {
  var fileSubmission = document.querySelector('#fileSubmission');
  fileSubmission.className = "control";
}
</script>
{% endblock %}
