      <form class="box" enctype="multipart/form-data" method='post'>
        <div class="section">
          <div class="field">
            <div class="control">
                <input class="input" id="project-name" type="text" placeholder="Project Name" name="project_name">
            </div>
          </div>
          <div class="control">
            <button class="button is-link" id="fileSubmit" disabled> Start Transcription</button>
          </div>
          </div>
        </div>
      </form>
