      <form class="box" action='/upload_file' enctype="multipart/form-data" method='post'>
        {{ form.csrf_token }}
          <div class="field">
            <div class="control">
              {{ form.email(class='input', placeholder='email') }}
            </div>
          </div>

          <div class="file">
  <label class="file-label">
    <input class="file-input" type="file" name="audio_file">
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choose a file…
      </span>
    </span>
  </label>
</div>

<div class="field">
            <div class="control">
              <input type="submit" class="button is-info" id="fileSubmit" value="Submit" />
            </div>
</div>
          </div>
        </div>
      </form>
